*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 81.25em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: 'Roboto Condensed', sans-serif;
  color: #111517;
  background-color: #fafafa; }

.country__heading {
  padding: 1.5rem 0 1.5rem 2rem;
  font-size: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .country__heading {
      font-size: 3rem; } }

.country__paragraph {
  padding-left: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: .5rem; }
  @media only screen and (max-width: 37.5em) {
    .country__paragraph {
      font-size: 2rem; } }
  .country__paragraph span {
    font-weight: 400; }

.detail__header {
  padding-left: 0; }

.country__back--btn {
  box-shadow: 0.3rem 0.8rem 1.4rem -0.8rem rgba(0, 0, 0, 0.75);
  padding: 1rem 2.5rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  background-color: #fff;
  color: #111517;
  cursor: pointer;
  transition: all .2s; }
  .country__back--btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0.4rem 1rem 1.4rem -0.8rem rgba(0, 0, 0, 0.75); }
  .country__back--btn:active, .country__back--btn:focus {
    outline: none;
    box-shadow: 0.2rem 0.5rem 1.4rem -0.8rem rgba(0, 0, 0, 0.75);
    transform: translateY(0); }

.country__section {
  padding: 2rem;
  width: 100%; }

.country__holder {
  width: 100%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  padding-right: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .country__holder {
      flex-direction: column;
      width: 80%;
      padding-right: 0; } }

.country__box {
  width: 22%;
  margin-bottom: 2.5rem;
  margin-left: 3.5rem;
  padding-bottom: 1.5rem;
  overflow: hidden;
  border-radius: .5rem;
  background-color: #fff;
  color: #111517;
  box-shadow: 3px 8px 14px -8px rgba(0, 0, 0, 0.75);
  cursor: pointer; }
  @media only screen and (max-width: 81.25em) {
    .country__box {
      width: 30%; } }
  @media only screen and (max-width: 56.25em) {
    .country__box {
      width: 45%; } }
  @media only screen and (max-width: 37.5em) {
    .country__box {
      width: 100%;
      margin-left: 0;
      margin-bottom: 4rem;
      padding-bottom: 3rem; } }

.country__details {
  padding: 1rem 5rem; }
  @media only screen and (max-width: 37.5em) {
    .country__details {
      padding: 1rem 2rem; } }
  .country__details--holder {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 7rem; }
    @media only screen and (max-width: 56.25em) {
      .country__details--holder {
        flex-direction: column;
        width: 100%; } }
    @media only screen and (max-width: 37.5em) {
      .country__details--holder {
        flex-direction: column;
        width: 100%; } }

.details--imagebox {
  width: 45%; }
  @media only screen and (max-width: 56.25em) {
    .details--imagebox {
      width: 100%;
      margin-bottom: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .details--imagebox {
      width: 100%;
      margin-bottom: 4rem; } }

.details--text {
  width: 45%;
  position: relative;
  color: #111517; }
  @media only screen and (max-width: 56.25em) {
    .details--text {
      width: 100%; } }
  @media only screen and (max-width: 37.5em) {
    .details--text {
      width: 100%; } }

.details--image {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.first--list {
  display: inline-block;
  width: 45%;
  list-style: none; }
  @media only screen and (max-width: 37.5em) {
    .first--list {
      width: 100%; } }

.first--item {
  padding: .6rem 0;
  letter-spacing: .4px; }

.second--list {
  display: inline-block;
  width: 45%;
  position: absolute;
  right: 0;
  list-style: none; }
  @media only screen and (max-width: 37.5em) {
    .second--list {
      width: 100%;
      position: relative;
      margin-top: 1.5rem; } }

.second--item {
  padding: .6rem 0;
  letter-spacing: .4px; }

.third--list {
  display: inline-block;
  width: 100%;
  list-style: none;
  margin-top: 1rem; }

.third--item {
  padding: .6rem 0;
  letter-spacing: .4px;
  margin-top: 1rem; }
  @media only screen and (max-width: 56.25em) {
    .third--item {
      margin-top: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .third--item {
      margin-top: 1.5rem; } }
  .third--item span {
    box-shadow: 1px 2px 10px -8px rgba(0, 0, 0, 0.75);
    padding: .6rem 2rem;
    font-size: 1.5rem;
    border: none;
    border-radius: .3rem;
    background-color: #fff;
    color: #111517;
    margin-left: 2.5rem; }
    @media only screen and (max-width: 56.25em) {
      .third--item span {
        margin-left: 3rem;
        padding: .6rem 4rem; } }
    @media only screen and (max-width: 37.5em) {
      .third--item span {
        margin-left: .2rem;
        padding: .6rem 1rem; } }

.form__box {
  display: flex;
  justify-content: space-between;
  color: inherit;
  width: 100%;
  padding: 4rem 5rem; }
  @media only screen and (max-width: 37.5em) {
    .form__box {
      padding: 4rem 2rem;
      flex-direction: column; } }

.form__search--box {
  position: relative;
  color: #111517; }

.form__input {
  padding: 1rem 15rem 1rem 5rem;
  border-radius: .5rem;
  border: none;
  color: inherit;
  transition: all .1s;
  background-color: #fff; }
  @media only screen and (max-width: 37.5em) {
    .form__input {
      margin-bottom: 2.5rem; } }
  .form__input::placeholder {
    font-size: 1.5rem;
    color: inherit; }
  .form__input:focus {
    outline: none;
    background-color: #858585;
    color: #fafafa; }

.form__icon {
  position: absolute;
  left: 1.2rem;
  top: 1rem;
  z-index: 10;
  font-size: 1.5rem; }

.form__dropdown--box {
  position: relative;
  font-weight: 700; }

.form__dropdown--content {
  position: absolute; }

.form__dropdown--link, .form__dropdown--link:link, .form__dropdown--link:visited {
  text-decoration: none;
  display: block;
  padding: 1rem 5.4rem;
  font-size: 1.3rem;
  transition: all .2s ease;
  background-color: #fff;
  color: inherit;
  border-left: .2rem solid transparent; }
  @media only screen and (max-width: 37.5em) {
    .form__dropdown--link, .form__dropdown--link:link, .form__dropdown--link:visited {
      padding: 1rem 6rem;
      font-size: 1.7rem; } }
  .form__dropdown--link:last-child, .form__dropdown--link:link:last-child, .form__dropdown--link:visited:last-child {
    border-bottom-right-radius: .2rem; }

.form__dropdown--link:hover, .form__dropdown--link:active {
  background-color: #fafafa;
  border-left: 2px solid #000; }

.form__dropdown--btn {
  padding: 1.5rem 2.4rem;
  border: none;
  color: inherit;
  border-top-left-radius: 10px;
  margin-bottom: .25rem;
  background-color: #fff; }
  .form__dropdown--btn:focus {
    outline: none; }

.header {
  background-color: #fff; }

.navbar {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 14px -8px rgba(0, 0, 0, 0.75);
  width: 100%;
  color: #111517;
  padding: 1rem 5rem; }
  @media only screen and (max-width: 56.25em) {
    .navbar {
      height: 20vh; } }
  @media only screen and (max-width: 37.5em) {
    .navbar {
      padding: 2rem 2rem;
      height: 12vh; } }
  .navbar__logo--box {
    width: 5%;
    height: auto; }
    @media only screen and (max-width: 81.25em) {
      .navbar__logo--box {
        width: 8%; } }
    @media only screen and (max-width: 56.25em) {
      .navbar__logo--box {
        width: 8.5%; } }
    @media only screen and (max-width: 37.5em) {
      .navbar__logo--box {
        width: 12%; } }
  .navbar__logo {
    width: 100%;
    object-fit: cover; }
  .navbar__mode--box {
    padding: 2rem 0 0 0; }
    @media only screen and (max-width: 81.25em) {
      .navbar__mode--box {
        padding-top: 3rem; } }
  .navbar__mode--link {
    text-decoration: none;
    color: inherit;
    font-size: 1.7rem;
    font-weight: 700; }
    @media only screen and (max-width: 81.25em) {
      .navbar__mode--link {
        font-size: 2rem; } }
  .navbar__bg {
    background-color: #fff; }

.hide {
  display: none; }

#hide {
  display: none; }

.rotate {
  transform: rotate(180deg); }

.bg--dark {
  background-color: #202c37; }
  .bg--dark .navbar,
  .bg--dark .form__input,
  .bg--dark .form__dropdown--btn,
  .bg--dark .form__dropdown--link:link,
  .bg--dark .form__dropdown--link:visited,
  .bg--dark .country__box,
  .bg--dark .country__back--btn,
  .bg--dark .third--item span {
    background-color: #2b3945;
    color: #fff; }
  .bg--dark .form__icon,
  .bg--dark .details--text {
    color: #fff; }
  .bg--dark .form__dropdown--link:hover, .bg--dark .form__dropdown--link:active {
    background-color: #072a4b;
    border-left: 2px solid #fff; }
