*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Dosis', sans-serif;
  color: #fff; }

.form__box {
  display: flex;
  justify-content: space-between;
  background-color: paleturquoise;
  width: 100%;
  padding: 2rem 5rem; }

.form__search--box {
  position: relative; }

.form__input {
  padding: 1rem 15rem 1rem 5rem;
  border-radius: 5px;
  border: none;
  background-color: #858585;
  color: #000;
  transition: all .2s; }
  .form__input::placeholder {
    font-size: 1.5rem;
    color: inherit; }
  .form__input:focus {
    outline: none;
    background-color: #fafafa; }

.form__icon {
  position: absolute;
  left: 1rem;
  top: .8rem;
  z-index: 10;
  font-size: 1.5rem; }

.header {
  background-color: #fff; }

.navbar {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 8px 14px -8px rgba(0, 0, 0, 0.75);
  width: 100%;
  padding: 1rem 5rem; }
  .navbar__logo--box {
    width: 5%;
    height: auto; }
  .navbar__logo {
    width: 100%;
    object-fit: cover; }
  .navbar__mode--box {
    padding: 2rem 0 0 0; }
  .navbar__mode--link {
    text-decoration: none;
    color: #000;
    font-size: 1.7rem; }
