*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Dosis', sans-serif;
  color: #111517;
  background-color: #fafafa; }

.country__section {
  padding: 3rem;
  background-color: hotpink;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.country__box {
  width: 22%;
  margin-bottom: 3rem; }

.form__box {
  display: flex;
  justify-content: space-between;
  color: inherit;
  width: 100%;
  padding: 4rem 5rem; }

.form__search--box {
  position: relative;
  color: #111517; }

.form__input {
  padding: 1rem 15rem 1rem 5rem;
  border-radius: 5px;
  border: none;
  color: inherit;
  transition: all .2s;
  background-color: #fff; }
  .form__input::placeholder {
    font-size: 1.5rem;
    color: inherit; }
  .form__input:focus {
    outline: none;
    background-color: #fafafa; }

.form__icon {
  position: absolute;
  left: 1rem;
  top: .8rem;
  z-index: 10;
  font-size: 1.5rem; }

.form__dropdown--box {
  position: relative; }

.form__dropdown--content {
  position: absolute; }

.form__dropdown--link, .form__dropdown--link:link, .form__dropdown--link:visited {
  text-decoration: none;
  display: block;
  padding: 1rem 4rem;
  font-size: 1.3rem;
  transition: all .2s ease;
  background-color: #fff;
  color: inherit;
  border-left: 2px solid transparent; }
  .form__dropdown--link:last-child, .form__dropdown--link:link:last-child, .form__dropdown--link:visited:last-child {
    border-bottom-right-radius: 10px; }

.form__dropdown--link:hover, .form__dropdown--link:active {
  background-color: #fafafa;
  border-left: 2px solid #000; }

.form__dropdown--btn {
  padding: 1.5rem 2.5rem;
  border: none;
  color: inherit;
  border-top-left-radius: 10px;
  margin-bottom: .2rem;
  background-color: #fff; }

.header {
  background-color: #fff; }

.navbar {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 14px -8px rgba(0, 0, 0, 0.75);
  width: 100%;
  color: #111517;
  padding: 1rem 5rem; }
  .navbar__logo--box {
    width: 5%;
    height: auto; }
  .navbar__logo {
    width: 100%;
    object-fit: cover; }
  .navbar__mode--box {
    padding: 2rem 0 0 0; }
  .navbar__mode--link {
    text-decoration: none;
    color: inherit;
    font-size: 1.7rem; }
  .navbar__bg {
    background-color: #fff; }

.hide {
  display: none; }

.rotate {
  transform: rotate(180deg); }

.bg--dark {
  background-color: #202c37; }
  .bg--dark .navbar,
  .bg--dark .form__input,
  .bg--dark .form__dropdown--btn,
  .bg--dark .form__dropdown--link:link,
  .bg--dark .form__dropdown--link:visited {
    background-color: #2b3945;
    color: #fff; }
  .bg--dark .form__icon {
    color: #fff; }
  .bg--dark .form__dropdown--link:hover, .bg--dark .form__dropdown--link:active {
    background-color: #072a4b;
    border-left: 2px solid #fff; }
