@mixin flexBetween {
    display: flex;
    justify-content: space-between;
}

@mixin  imageRes {
    width: 100%;
    object-fit: cover;
}

// @mixin ($breakpoint) {
//     @if $breakpoint === phone {
        
//     }
// }