.country__back--btn{
    box-shadow: 3px 8px 14px -8px rgba(0,0,0,0.75);
    padding: 1rem 2.5rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    background-color: $color-white;
    color: $color-blue-extra;
}