.country{
    &__section{
        padding: 7rem;
        background-color: hotpink;
        width: 100%;
        @include flexBetween;
       
    }
}
.g{
    width: 30%;
    background-color: indianred;
    padding: 30px;
    margin-right: 3rem;
}