.country{
    &__section{
        padding: 3rem;
        background-color: hotpink;
        width: 100%;
        @include flexBetween;
        flex-wrap: wrap;
       
    }
   &__box{
    width: 22%;
    margin-bottom: 3rem;
} 
}

