.form{
    &__box{
        @include flexBetween;
        background-color: paleturquoise;
        width: 100%;
        padding: 2rem 5rem;
    }
    &__search--box{
        position: relative;
    }
    &__input{
    padding: 1rem 15rem 1rem 5rem;
    border-radius: 5px;
    border: none;
    background-color: $color-gray-dark;
    color: $color-black;
    transition: all .2s;
    &::placeholder{
        font-size: 1.5rem;
        color: inherit;
    }
    &:focus{
        outline: none;
        background-color: $color-gray-light;
    }
    }
    &__icon{
        position: absolute;
        left: 1rem;
        top: .8rem;
        z-index: 10;
        font-size: 1.5rem;
    }
}