.navbar{
    height: 15vh;
    @include flexBetween;
    box-shadow: 0 1px 14px -8px rgba($color-black,0.75);
    width: 100%;
    color: $color-blue-extra;
    padding: 1rem 5rem;
    @include respond(phone){
        height: 20vh;
        padding: 2rem 2rem;
    }
    &__logo--box{
        width: 5%;
        height: auto;
        @include respond(phone){
            width: 12%;
        }
    }
    &__logo{
        @include imageRes;
    }
    &__mode--box{
        padding: 2rem 0 0 0;
    }
    &__mode--link{
        text-decoration: none;
        color: inherit;
        font-size: 1.7rem;
        font-weight: 700;
    }
    &__bg{
        background-color: $color-white;
    }
}